[Unit]
Description=Yamanote software factory
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Development/yamanote
ExecStart=/usr/bin/python3 -m yamanote
Restart=always
RestartSec=30
TimeoutStopSec=20
Environment=PATH=/home/pi/.local/bin:/usr/local/bin:/usr/bin:/bin
EnvironmentFile=-/home/pi/Development/yamanote/.env

[Install]
WantedBy=multi-user.target
